body { background: #FDFDFD !important; }
body > header {
  margin-top: 30px;
  margin-bottom: 15px;
}

.btn { text-transform: none !important; }

h1 > a {
  text-decoration: none !important;
  color: inherit !important;
}

.panel-heading{
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5 { margin: 5px 0; }

/* Stickey Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main { flex: 1 0 auto; }

footer {
  margin-top: 64px;
  background: #666;
  color: #FFF;
}

.select-datetime select {
  display: inline-block !important;
  width: auto !important;
  padding: 6px 16px !important;
}

.article-body img {
  width: 100%;
}
